<p>facture works!</p>

<div class="container">

    <div class="row">
        <h2>Add Item</h2>
        <div class="col-md-4">
            <!-- <input type="text" class="form-control" placeholder="Client Name" [(ngModel)]="facture.client"> -->
            <input type="text" class="form-control" placeholder="Reference" [(ngModel)]="newItem.reference">
            <input type="text" class="form-control" placeholder="Marque" [(ngModel)]="newItem.marque">
            <input type="number" class="form-control" placeholder="Prix Unitaire" [(ngModel)]="newItem.prixUnitaire">
            <input type="number" class="form-control" placeholder="Quantité" [(ngModel)]="newLigne.quantite">
            <button class="btn btn-primary mt-2" (click)="addItem()">Add Item</button>
        </div>
    </div>
    <h2>Facture Details</h2>
    <p><strong>Client: {{ facture.client }}</strong></p>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Reference</th>
                <th>Marque</th>
                <th>Prix Unitaire</th>
                <th>Quantité</th>
                <th>Prix Ligne</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let ligne of facture.lignes">
                <td>{{ ligne.item.reference }}</td>
                <td>{{ ligne.item.marque }}</td>
                <td>{{ ligne.item.prixUnitaire }}</td>
                <td>{{ ligne.quantite }}</td>
                <td>{{ ligne.prixLigne() }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Total Price: {{ facture.prixtotal() }}</h3>
</div>